*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  background-color: #F9FAFB;
  height: 100vh;
}

button{
  cursor: pointer;
}

header {
  width: 100%;
  height: 70px;
  background-color: #111827;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
}

.formInfosUsers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #A78BFA;
  width: 100%;
  max-width: 350px;
  height: 250px;
  padding: 12px;
  border-radius: 10px;
}


.formInfosUsers input{
  margin-bottom: 10px;
  padding: 5px 12px;
  outline: none;
  border: 1px solid #1F2937;
  background-color: white;
  border-radius: 10px;
}

.formInfosUsers button{
  padding: 10px 20px;
  border: none;
  background-color: #8B5CF6;
  border-radius: 10px;
  margin-top: 20px;
}

.formInfosUsers button:hover{
  background-color: #6538ce;
}

.list-users {
  display: flex;
  flex-direction: column;
}

.user{
  margin-bottom: 20px;
  background-color: #1F2937;
  padding: 12px 18px;
  border-radius: 12px;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
}

.user button {
  padding: 10px 20px;
  border: none;
  background-color: #8B5CF6;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.modal-user{
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background-color: white;
  position: absolute;
  z-index: 3;
  top: 80%;
  left: 30px;
  padding: 30px 20px;
  border-bottom: 5px solid #00ff88;
  background-color: #cbe9db;
  opacity: 0;
  transition: 1s;
}

.hidden {
  opacity: 1;
}